* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 50%;
  max-width: 750px;
  height: 750px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  background-color: #4bef99;
  border-radius: 50%;
}

.eyes-block, .nose-block, .mouth-block {
  display: flex;
  height: 33.333%;
}

.eyes-block {
  justify-content: space-around;
  align-items: flex-end;
}

.nose-block {
  justify-content: center;
  align-items: flex-start;
  margin-top: 5%;
}

.mouth-block {
  justify-content: center;
  align-items: flex-start;
}

.nose {
  background-color: #fff;
  height: 40%;
  width: 13%;
}

.mouth {
  background-color: #fff;
  height: 12%;
  flex: 0 1 45%;
}

.leftEye, .rightEye {
  height: 60%; 
  background-color: #fff;
  border-radius: 50%;
  flex: 0 1 19%;
}
