* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(bg_img.png);
  background-position: top right 5%;
  background-repeat: repeat-y;
}

h1,
p {
  margin: 15px 0 0 5px;
}

p {
  min-width: 300px;
  max-width: 25%;
  text-align: justify;
  font-weight: bold;
}
