* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(bg_img.png);
  background-position: top right 5%;
  background-repeat: repeat-y;
}

h1 {
  margin-top: 15px;
  margin-left: 5px;
}

p {
  margin-top: 15px;
  margin-left: 5px;
  width: 25%;
  text-align: justify;
  font-weight: bold;
}
